Day-08-AI-Resume-Analyzer/Day-08-AI-Resume-Analyzer.json
{
  "name": "Day-08-AI-Resume-Analyzer",
  "nodes": [
    {
      "parameters": {
        "options": {
          "allowFileUploads": true,
          "allowedFilesMimeTypes": "*Resume"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        16,
        0
      ],
      "id": "4fca1041-ea64-435d-a1e7-30c66d67f4eb",
      "name": "When chat message received",
      "webhookId": "b92ced77-4fb6-411b-9f4d-1e4eeedf4ecb"
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "=data0",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        224,
        0
      ],
      "id": "18109e8e-7571-4c1a-8b4d-dfc4a732f44a",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "You are an expert HR Manager, ATS Specialist, and Career Coach. \nAnalyze the candidate's resume text provided below and generate a detailed report in clean Markdown format.\n\nInput Resume Text:\n{{ $json.extracted_text }}\n\nYour response MUST follow this exact structure:\n\n📊 Overall Resume Score: [Score]/100\n🎯 ATS Compatibility Score: [Score]/100\nExplain why the ATS score is low.\n\n-Mention missing keywords.\n-Mention formatting issues.\n-Mention section improvements.\n\n🛠️ Skills Found:\n- [List extracted key technical & soft skills]\n\n⚠️ Missing Key Skills:\n- [List critical skills missing based on industry standards]\n\n💪 Key Strengths:\n- [List top 3-4 strong areas]\n\n❌ Weaknesses & Red Flags:\n- [List formatting issues, gaps, or vague bullet points]\n\n💡 Step-by-Step Improvement Suggestions:\n- [Actionable points to improve content and ATS pass rate]\n\n🚀 Recommended Job Roles:\n- [List 3-5 best-fit job titles]\n\nGenerate 10 interview questions based on the candidate's resume."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        416,
        0
      ],
      "id": "631eb44d-e4bc-4837-a9a6-c7527717be5a",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        416,
        256
      ],
      "id": "6530dfe3-5a06-48d8-a22e-626f39eecb68",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "63JHN9u8uhhDSAcx",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "Text / Markdown\n{{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        720,
        0
      ],
      "id": "b493851f-81fa-4c2d-a575-5d8316dfeb77",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "13415c59-b07b-4b82-af2e-9403df621988",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8bf29fe464bb8cd02a1ac56721c6ca3d51cb4ba18d6562b71ce2f156ceee241f"
  },
  "nodeGroups": [],
  "id": "dlt23VZdjJacr04Z",
  "tags": []
}